

<h3>Edit <%= @invite.app_id %></h3>

<%= form_for([current_gallery, @invite]) do |f| %>
    <p>
    <label>
    <%= f.check_box :status %>
    <span>Client status</span>
    </label>
    </p>
    <button class="btn waves-effect waves-light" type="submit" name="action">Update
    <i class="material-icons right">send</i>
  </button>
<% end %>