<h1>Please Login</h1>
<%= render partial: 'new', locals: {user: @user} %>

<button><%= link_to 'Signing in with Google Account', "/auth/google_oauth2" %></button>

<button><%= link_to 'Create Account with Email', new_user_path %></button>