<%= render partial: 'galleries/nav' %>
<h3>Client: <%= @client.app_id %></h3>
<table>
    <tr>
        <th>App ID</th>
        <th>Invited By</th>
        <th>Status</th>
        <th></th>
    </tr>
    <tbody>
    <%= render @client %>
    </tbody>
</table>